*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    background: #ffffff;
    background-repeat: no-repeat;
    text-decoration: none;
    list-style: none;
    color: #000000;
}

.section { 
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
}

.div {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
}

h1 {
    color:#000000;
}

/*TITRES DE SECTION*/
h2  {
    text-align: center;
    color:#000000;
    font-family: "Jacquard 12", sans-serif;
    font-size: 50px;
    font-weight: 100;
}

h3{
    text-align: center;
}

/*HEADER*/

header{
    color: #000000;
    font-size:16px;
    flex: auto;
    display: inline-block;
    font-family:Calibri, sans-serif;
}

/*Tout ça là jlai récup sur uiverse .io, c pour la carte avec le logo*/
.card2 {
  width: 240px;
  height: 250px;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card2 img {
  z-index: 1;
  color: rgb(135, 221, 254);
  font-size: 20px;
  text-align: center;
}

.card2::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, #87DDFE, #87DDFE);
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card2::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  


/*LOGO*/
.img{
    width: 235px;
    height: 245px;
}


/*CLASSES FLEX*/

.align-center{
    align-items: center;
    align-content: center;
    text-align: center;
}

.flex {
display:flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-between {
justify-content:space-between ;} 

.space-around{ justify-content:space-around;}

.space-evenly{justify-content:space-evenly;}

.justify-center {
justify-content:center;}

.flex-end{justify-content:flex-end;}

.flex-start{justify-content:flex-start;}

.flex-wrap{
  flex-wrap: wrap;
}

.align-center{
    align-items: center;
    align-content: center;
    text-align: center;
}

/*PADDING ET MARGIN*/

.padding{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.padding-bot-10{
    padding-bottom: 10px;
}

.padding-bot-50{
    padding-bottom: 50px;
}


.padding-top-60{
padding-top: 60px;
}

.padding-top-100{
    padding-top: 100px;
}

.padding-top-20{
    padding-top: 20px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-left{
    margin-left: 540px;
}

.margin-left-50{
    margin-left: 50px;
}
.petit-margin-left{
    margin-left: 100px;
}
.margin-right{
    margin-right: 30px;
}
.margin-right-200{
    margin-right: 200px;
}
.gap-20{
    gap: 20px;
}

.gap-50{
    gap:50px
}
.padding{
    padding: 40px;
}

.padding-15{
    padding: 15px;
}

.euhlesboxla{
  padding: 30px;
  margin: 10px;
}
.gap-10{
    gap:15%;
}

/*Classes largeurs*/

.w100 {
    width: 100%;
}
 
.w48 {
    width: 48%;
}
 
.w50 {
    width: 50%;
}
 
.w40 {
    width: 40%;
}
 
.w33 {
    width: 33%;
}
 
.w30 {
    width: 30%;
}
 
.w25 {
    width: 25%;
}
 
.w10 {
    width: 10%;
}

.container-1000 {
max-width: 1000px;
margin: auto;
width: 100%;
margin-left: auto;
margin-right: auto;
}

/*HEADER*/
button {
  background: #F1E2C4;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
/* SECTION HERO */


.bonjour{
    margin-left: 450px;
}

/*SECTION A PROPOS*/

/* From Uiverse.io by ZacharyCrespin */ 
@keyframes square-animation {
 0% {
  left: 0;
  top: 0;
 }

 10.5% {
  left: 0;
  top: 0;
 }

 12.5% {
  left: 32px;
  top: 0;
 }

 23% {
  left: 32px;
  top: 0;
 }

 25% {
  left: 64px;
  top: 0;
 }

 35.5% {
  left: 64px;
  top: 0;
 }

 37.5% {
  left: 64px;
  top: 32px;
 }

 48% {
  left: 64px;
  top: 32px;
 }

 50% {
  left: 32px;
  top: 32px;
 }

 60.5% {
  left: 32px;
  top: 32px;
 }

 62.5% {
  left: 32px;
  top: 64px;
 }

 73% {
  left: 32px;
  top: 64px;
 }

 75% {
  left: 0;
  top: 64px;
 }

 85.5% {
  left: 0;
  top: 64px;
 }

 87.5% {
  left: 0;
  top: 32px;
 }

 98% {
  left: 0;
  top: 32px;
 }

 100% {
  left: 0;
  top: 0;
 }
}

.loader {
 position: relative;
 width: 96px;
 height: 96px;
 transform: rotate(45deg);
}

.loader-square {
 position: absolute;
 top: 0;
 left: 0;
 width: 28px;
 height: 28px;
 margin: 2px;
 border-radius: 0px;
 background: rgb(0, 0, 0);
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
 animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
 animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
 animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
 animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
 animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
 animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
 animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
 animation-delay: -10s;
}

.police-apropos{
    font-size: 18px;
}



.blanc{
    color: #D9EBF2 ;
    font-size: 15px;
}

/*SECTION EXPERIENCES*/

.card-exp {
 width: 1000px;
 height: 100px;
 background: linear-gradient(135deg, #000000 0%, #17425b 100%);
 border-radius: 7px;
 color: white;
}

.cercle{
    background-color: white;
    border-radius: 1000px;
    width: 130px;
    height:90px;
    margin-right: 500px;
}
/*COMPETENCES*/



.logo{
    width: 25%;
    height: 25%;
}

.bg-comp{
    background: linear-gradient(135deg, #D9EBF2 0%, #1E4860 100%);
}

.police2{
    color: #07182E;
}

.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #0D1418; /*FOND AUTOUR*/
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
  user-select: none;
  margin-left: 250px;
  margin-bottom: 100px;
}

.container .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(138, 138, 138, 0.47);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #000000;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.python {
  /*progreso de las diferentes lenguajes*/
  width: 60%;
  animation-delay: 0.1s;
}

.skill-per.html {
  /*progreso de las diferentes lenguajes*/
  width: 50%;
  animation-delay: 0.1s;
}

.skill-per.css {
  /*progreso de las diferentes lenguajes*/
  width: 40%;
  animation-delay: 0.2s;
}

.skill-per.javascript {
  /*progreso de las diferentes lenguajes*/
  width: 30%;
  animation-delay: 0.3s;
}

.skill-per.figma {
  /*progreso de las diferentes lenguajes*/
  width: 60%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #D9EBF2; /*Ecriture pourcentage*/
  padding: 2px 6px;
  border-radius: 3px;
  background: #000000; /*FOND des ecriture pourcentage*/
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background: #000000;
  transform: translateX(-50%) rotate(45deg);
}


/*FOOTER*/

i{
    font-size: 45px;
}

a{
    font-size: 15px;
}

.police{
    font-size:22px;
}
