*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    background: #0D1418;
    background-repeat: no-repeat;
    text-decoration: none;
    list-style: none;
    color: #D9EBF2;
}

.section { 
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
}

.div {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
}

h1 {
    color:#87DDFE;
}

/*TITRES DE SECTION*/
h2  {
    text-align: center;
    color:#D9EBF2;
    font-family: "Jacquard 12", sans-serif;
    font-size: 50px;
    font-weight: 100;
}

h3{
    text-align: center;
}

/*HEADER*/

header{
    color: #D9EBF2;
    font-size:16px;
    flex: auto;
    display: inline-block;
    font-family:Calibri, sans-serif;
}

/*Tout ça là jlai récup sur uiverse .io, c pour la carte avec le logo*/
.card2 {
  width: 240px;
  height: 250px;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card2 img {
  z-index: 1;
  color: rgb(135, 221, 254);
  font-size: 20px;
  text-align: center;
}

.card2::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, #87DDFE, #87DDFE);
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card2::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  


/*LOGO*/
.img{
    width: 235px;
    height: 245px;
}


/*CLASSES FLEX*/

.align-center{
    align-items: center;
    align-content: center;
    text-align: center;
}

.flex {
display:flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-between {
justify-content:space-between ;} 

.space-around{ justify-content:space-around;}

.space-evenly{justify-content:space-evenly;}

.justify-center {
justify-content:center;}

.flex-end{justify-content:flex-end;}

.flex-start{justify-content:flex-start;}

.flex-wrap{
  flex-wrap: wrap;
}

.align-center{
    align-items: center;
    align-content: center;
    text-align: center;
}

/*PADDING ET MARGIN*/

.padding{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.padding-bot-10{
    padding-bottom: 10px;
}

.padding-bot-50{
    padding-bottom: 50px;
}


.padding-top-60{
padding-top: 60px;
}

.padding-top-100{
    padding-top: 100px;
}

.padding-top-20{
    padding-top: 20px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-left{
    margin-left: 540px;
}

.margin-left-50{
    margin-left: 50px;
}
.petit-margin-left{
    margin-left: 100px;
}
.margin-right{
    margin-right: 30px;
}
.margin-right-200{
    margin-right: 200px;
}
.gap-20{
    gap: 20px;
}

.gap-50{
    gap:50px
}
.padding{
    padding: 40px;
}

.padding-15{
    padding: 15px;
}

.euhlesboxla{
  padding: 30px;
  margin: 10px;
}
.gap-10{
    gap:15%;
}

/*Classes largeurs*/

.w100 {
    width: 100%;
}
 
.w48 {
    width: 48%;
}
 
.w50 {
    width: 50%;
}
 
.w40 {
    width: 40%;
}
 
.w33 {
    width: 33%;
}
 
.w30 {
    width: 30%;
}
 
.w25 {
    width: 25%;
}
 
.w10 {
    width: 10%;
}

.container-1000 {
max-width: 1000px;
margin: auto;
width: 100%;
margin-left: auto;
margin-right: auto;
}

/* SECTION HERO */
.marquee-rtl {
    font-size: 50px;
    color:#87DDFE;
  max-width: 30em;                      /* largeur de la fenêtre */
  margin: 1em auto 2em;
  border: 2px solid #87DDFE;
  overflow: hidden;                     /* masque tout ce qui dépasse */
  box-shadow: 0 .2àem .5em #CCC,inset 0 0 1em .20em #CCC;
}

.marquee-rtl > :first-child {
  display: inline-block;                /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement-rtl 15s infinite linear;
  animation-name: defilement-rtl;       /* référence à la règle @keyframes mise en oeuvre */
  animation-duration: 15s;              /* valeur à ajuster suivant la longueur du message */
  animation-iteration-count: infinite;  /* boucle continue */
  animation-timing-function: linear;    /* pas vraiment utile ici */
}


@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

.bonjour{
    margin-left: 450px;
}

/*SECTION A PROPOS*/

.police-apropos{
    font-size: 18px;
}

button {
  height: 50px;
  margin: 5px;
  width: 120px;
  background: #0D1418;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: #D9EBF2;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

button:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #D9EBF2;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #D9EBF2;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.blanc{
    color: #D9EBF2 ;
    font-size: 15px;
}

/*SECTION EXPERIENCES*/

.card-exp {
 width: 1000px;
 height: 100px;
 background: linear-gradient(135deg, #0D1418 0%, #1E4860 100%);
 border-radius: 7px;
}

.cercle{
    background-color: white;
    border-radius: 1000px;
    width: 130px;
    height:90px;
    margin-right: 500px;
}
/*COMPETENCES*/


.cadre-comp{
    width: 285px;
    height: 250px;
    background: linear-gradient(135deg, #0D1418 0%, #1E4860 100%);
    border-radius: 10px;
}

.cadre-comp2{
    text-align: center;
    width: 200px;
    height: 50px;
    background: linear-gradient(135deg, #0D1418 0%, #1E4860 100%);
    border-radius: 10px;
    font-size: 20px;
}

.logo{
    width: 25%;
    height: 25%;
}

.bg-comp{
    background: linear-gradient(135deg, #D9EBF2 0%, #1E4860 100%);
}

.police2{
    color: #07182E;
}

.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #0D1418; /*FOND AUTOUR*/
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
  user-select: none;
  margin-left: 250px;
  margin-bottom: 100px;
}

.container .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #D9EBF2;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(52, 89, 92, 0.47);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #D9EBF2;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.python {
  /*progreso de las diferentes lenguajes*/
  width: 60%;
  animation-delay: 0.1s;
}

.skill-per.html {
  /*progreso de las diferentes lenguajes*/
  width: 50%;
  animation-delay: 0.1s;
}

.skill-per.css {
  /*progreso de las diferentes lenguajes*/
  width: 40%;
  animation-delay: 0.2s;
}

.skill-per.javascript {
  /*progreso de las diferentes lenguajes*/
  width: 30%;
  animation-delay: 0.3s;
}

.skill-per.figma {
  /*progreso de las diferentes lenguajes*/
  width: 60%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #D9EBF2; /*Ecriture pourcentage*/
  padding: 2px 6px;
  border-radius: 3px;
  background: #000000; /*FOND des ecriture pourcentage*/
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background: #000000;
  transform: translateX(-50%) rotate(45deg);
}


/*FOOTER*/

i{
    font-size: 45px;
}

a{
    font-size: 15px;
}

.police{
    font-size:22px;
}

button {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(0, 119, 181);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(0, 119, 181);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button:hover {
  color: #fff;
  border: 1px solid rgb(0, 119, 181);
}

button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(0, 119, 181);
}




