*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #000000;
}

.section { 
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
}

.div {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
}

h1 {
    color:#000000;
}

/*TITRES DE SECTION*/
h2  {
    text-align: center;
    color:#000000;
    font-family: "Calibri", sans-serif;
    font-size: 50px;
    font-weight: 100;
}

h3{
    text-align: center;
}

/*HEADER*/

header{
    background-color: #ffffff;
    font-size:16px;
    flex: auto;
    display: inline-block;
    font-family:"Calibri", sans-serif;

}


/*CLASSES FLEX*/

.align-center{
    align-items: center;
    align-content: center;
    text-align: center;
}

.flex {
display:flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-between {
justify-content:space-between ;} 

.space-around{ justify-content:space-around;}

.space-evenly{justify-content:space-evenly;}

.justify-center {
justify-content:center;}

.flex-end{justify-content:flex-end;}

.flex-start{justify-content:flex-start;}

.flex-wrap{
  flex-wrap: wrap;
}

.align-center{
    align-items: center;
    align-content: center;
    text-align: center;
}

/*PADDING ET MARGIN*/

.padding{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.padding-bot-10{
    padding-bottom: 10px;
}

.padding-bot-50{
    padding-bottom: 50px;
}


.padding-top-60{
padding-top: 60px;
}

.padding-top-100{
    padding-top: 100px;
}

.padding-top-20{
    padding-top: 20px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-left{
    margin-left: 540px;
}

.margin-left-50{
    margin-left: 50px;
}
.petit-margin-left{
    margin-left: 100px;
}
.margin-right{
    margin-right: 30px;
}
.margin-right-200{
    margin-right: 200px;
}
.gap-20{
    gap: 20px;
}

.gap-50{
    gap:50px
}
.padding{
    padding: 40px;
}

.padding-15{
    padding: 15px;
}

.euhlesboxla{
  padding: 30px;
  margin: 10px;
}
.gap-10{
    gap:15%;
}

/*Classes largeurs*/

.w100 {
    width: 100%;
}
 
.w48 {
    width: 48%;
}
 
.w50 {
    width: 50%;
}
 
.w40 {
    width: 40%;
}
 
.w33 {
    width: 33%;
}
 
.w30 {
    width: 30%;
}
 
.w25 {
    width: 25%;
}
 
.w10 {
    width: 10%;
}

.container-1000 {
max-width: 1000px;
margin: auto;
width: 100%;
margin-left: auto;
margin-right: auto;
}

